body {
  font-family: Arial, sans-serif;
  margin: 0;
  background:#ffcf9b;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #000;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

/* PRODUCT PAGE LAYOUT */
.product-page {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #f0e5d5;
  border-radius: 12px;
  display: flex;
  gap: 30px;
}

.product-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  background: #cfe9f1;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.product-info h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 18px;
  margin-bottom: 20px;
}

.buy-button {
  padding: 12px;
  background: #000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  width: 200px;
}
