body {
font-family: Arial, sans-serif;
padding: 20px;
max-width: 600px;
margin: auto;
background: #f7f7f7;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 30px;
  background: #000;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.navbar nav {
  display: flex;
  gap: 20px;
}

h1 {
font-size: 26px;
text-align: center;
margin-bottom: 25px;
color: #333;
}


.item {
display: flex;
align-items: center;
justify-content: space-between;
background: #fff;
padding: 12px 15px;
border-radius: 12px;
margin-bottom: 12px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
gap: 10px;
}


.item img {
width: 70px;
height: 70px;
border-radius: 10px;
object-fit: cover;
}


.total {
margin-top: 25px;
font-weight: bold;
font-size: 22px;
text-align: right;
color: #444;
}


button {
padding: 8px 14px;
cursor: pointer;
background: #ff5252;
border: none;
border-radius: 8px;
color: white;
transition: .2s;
}


button:hover {
background: #ff0000;
}


/* Mobile */
@media (max-width: 480px) {
.item {
flex-direction: column;
text-align: center;
}
.item button {
width: 100%;
margin-top: 10px;
}
}